In [28]:
%matplotlib inline

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 數據：世界各主要國家之我國留學生人數統計

In [29]:
df = pd.read_csv('https://ws.moe.edu.tw/Download.ashx?u=C099358C81D4876CC7586B178A6BD6D5062C39FB76BDE7EC0A43CF0811EC32188607BD3CEF6924F4985BE598D34AC32D646870B72E2CEE1E501390ECA4254E485DF61F1D40C45E1EA5128ADAE48CA667&n=817FB214356653D488EFDAC057EA6B2F5C8E72C806B4DD8C31219F6FE56A4DD8A9E2832F8D03514B01288DC51AEBA2CFBF5634A67196D8D94C73E9E5FA995572&icon=..csv')

In [48]:
df.head()

    年度  洲別   國別    總人數
1  105  歐洲   英國  3,815
2  105  歐洲   德國  1,488
3  105  歐洲   波蘭    561
4  105  歐洲  奧地利    419
5  105  歐洲  俄羅斯    181

In [31]:
df[(df.洲別 == "歐洲")]

     年度  洲別   國別    總人數
0   105  歐洲   英國  3,815
1   105  歐洲   德國  1,488
2   105  歐洲   波蘭    561
3   105  歐洲  奧地利    419
4   105  歐洲  俄羅斯    181
5   105  歐洲   丹麥     33
6   105  歐洲  比利時    120
7   105  歐洲   荷蘭    400
8   105  歐洲   芬蘭     37
9   105  歐洲   挪威     20
10  105  歐洲   瑞典    113
11  105  歐洲   冰島      2
29  106  歐洲   英國  3,920
30  106  歐洲   法國  1,004
31  106  歐洲   德國  1,755
32  106  歐洲   波蘭    758
33  106  歐洲  奧地利    456
34  106  歐洲   捷克     43
35  106  歐洲  比利時    120
36  106  歐洲   瑞士    307
37  106  歐洲  義大利    250
38  106  歐洲  西班牙    300
39  106  歐洲  土耳其     36
40  106  歐洲  愛爾蘭     10
41  106  歐洲  俄羅斯    172
42  106  歐洲   丹麥     24
43  106  歐洲   荷蘭    400
44  106  歐洲   芬蘭     45
45  106  歐洲   挪威      7
46  106  歐洲   瑞典    105
62  107  歐洲   英國  3,775
63  107  歐洲   法國  1,079
64  107  歐洲   德國  2,013
65  107  歐洲   波蘭    758
66  107  歐洲  奧地利    400
67  107  歐洲   捷克     26
68  107  歐洲   荷蘭    408
69  107  歐洲  比利時    156
70  107  歐洲  匈牙利     53
71  107  歐洲  土耳其     30
72  107  歐洲  愛爾蘭     18
73  107  歐洲  俄羅斯    146
74  107  歐洲   丹麥     16
75  107  歐洲   芬蘭     71
76  107  歐洲   挪威     20
77  107  歐洲   瑞典    133

## 用年度、地區分類

In [47]:
import ipywidgets as widgets
from ipywidgets import interact
from ipywidgets import interact_manual
from IPython.display import display

All = 'All'

district = ""
def f(年度,地區):

    if (年度 == 'All') & (地區 == 'All'):
        df_display = df
    elif (地區 == 'All'):
        df_display = df[(df.年度 == 年度)]
    elif (年度 == 'All'):
        df_display = df[(df.洲別 == 地區)]
    else:
        df_display = df[(df.年度 == 年度) & (df.洲別 == 地區)]
    
    df_display.index = range(1,len(df_display)+1) #長度配合欄位數
    display(df_display)
    
    
interact(f, 
         年度=['All',107,106,105],
         地區=['All','歐洲','亞洲','美洲','大洋洲']
        );

interactive(children=(Dropdown(description='年度', options=('All', 107, 106, 105), value='All'), Dropdown(descri…

#### 失敗：總人數（object）不能相加，無法統計人數

In [32]:
df[(df.洲別 == "歐洲")].總人數

0     3,815
1     1,488
2       561
3       419
4       181
5        33
6       120
7       400
8        37
9        20
10      113
11        2
29    3,920
30    1,004
31    1,755
32      758
33      456
34       43
35      120
36      307
37      250
38      300
39       36
40       10
41      172
42       24
43      400
44       45
45        7
46      105
62    3,775
63    1,079
64    2,013
65      758
66      400
67       26
68      408
69      156
70       53
71       30
72       18
73      146
74       16
75       71
76       20
77      133
Name: 總人數, dtype: object

In [17]:
df[(df.洲別 == "歐洲")].總人數.sum()

'3,8151,48856141918133120400372011323,9201,0041,755758456431203072503003610172244004571053,7751,0792,01375840026408156533018146167120133'

#### 可以更好：總人數相加，做成Bar Chart